*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navbar
{
    width: 100%;
    height: 65px;
    background-color: pink;

}
.navbar ul 
{
    display: flex;
    /* margin-left: 6vw; */
    list-style: none;
    font-size: 1.8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 750;

}
.navbar ul a 
{
    text-decoration: none;
    color: white;
}
.navbar ul a li
{
    margin-left: 26vw;
    margin-top: 10px;
    cursor: pointer;
   
    color: white;
}
.navbar ul li:hover{
    color: rgb(245, 242, 237);
}
#change
{
    width: 20vw;
    height: 7vh;
    border: 0.2vw solid #cecece ;
    font-size: 1.5vw;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 590;
    margin-top: 3vh;
    margin-left: 76.7vw;
    border-radius: 1.1vh;
}
.container
{
    width: 95vw;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
.header
{
    display: flex;
    background-color: bisque;
    color: white;
    height: 35px;
    text-align: center;
    border-radius: 0.4vw;
}
.header h3
{
    width: 20vw;
    padding: 4px;
    

}
#list
{
   
    margin-bottom: 100px;
   
}
.div
{
    display: flex;
   
    
    height: 35px;
    text-align: center;
    border-radius: 0.4vw;
    border: 0.1vh solid whitesmoke;

}
.div p 
{
   width: 20vw;
   text-align: center;
   font-size: 1.1rem;
   overflow: hidden;
   padding: 4px;


}
#input
{
    width: 20vw;
    height: 7vh;
    border: 0.2vw solid #cecece ;
    font-size: 1.5vw;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 590;
    margin-top: 3vh;
    margin-left: 76.7vw;
    border-radius: 1.1vh;
}
#input::placeholder{
   
    font-size: 1.5vw;
    padding: 3px;

}

#container
{
   margin-top: 10vw;
   margin-left: 10vw;
   width: 80vw;
   min-height: 60vh;
   
   border: 0.5vh solid whitesmoke;
   border-radius: 1.5vw;
  
}
.div1{
    text-align: left;
    margin-left: 10vw;
    margin-top:35px;
}
.div1 p 
{
    font-size: 1.6rem;
 
   font-weight: 600;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-top: 2.3vh;
   color: rgb(58, 56, 56);
}
.button
{
    width: 14vw;
    background-color: transparent;
    color: red;
    border-radius: 0.5vw;
    height: 34px;
    border: none;
        cursor: pointer;
       font-weight: 550;

}
.button:hover
{
   
    border: 0.4vh solid white;
    background-color: transparent;

}


